header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 15%;
}

main {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 85%;
}

.login-form {
  width: 35%;
}

@media only screen and (max-width: 992px) {
  .mh-lg-45 {
    max-height: 45%;
  }

  .mh-lg-10 {
    max-height: 10%;
  }

  .login-form {
    width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  .login-form {
    width: 90%;
  }
}